.loading {
  &--wrapper {
	height: 30vw;
	margin: 0 auto;
	width: 30vw;
	position: relative;
  }

  &__text {
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%,-50%);
  }
}

.spinner {
  &--wrapper {
	height: 100%;
	width: 100% !important;
  }
}