.clock {
  &-wrapper {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
  }

  &-circle {
	  width: 200px;
	  height: 200px;
	  margin: 0 auto;
	  display: inline-block;
	  border: 1px solid;
	  border-radius: 50%;
	  text-align: center;

	.unit {
	  display: inline-block;
	  line-height: 200px;
	}
  }
}
